<template name="LandingPage">
  <div class="row">
    <div class="col-sm-12 text-center pt-4 pb-3">
      <h2>Welcome to BrewerMe!</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 text-center pb-1">
      <h6>Search for breweries around your location or search in a specific location.</h6>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
      <form class="form-inline justify-content-center">
        <div class="form-group">
          <input type="text" class="form-control" id="searchInput" placeholder="Dan's Brewery">
        </div>
        
        <div class="form-group" >
          <select class="form-control" id="searchPreference">
            <option selected>Choose...</option>
            <option value="1">City</option>
            <option value="2">State</option>
            <option value="3">Zip</option>
          </select>
        </div>
        
        <button type="submit" class="btn btn-primary js-search-brewerydb">Search for Breweries</button>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 text-center pb-1">
      <p>BrewerMe search is powered by <a href="http://www.brewerydb.com/">Brewery DB</a></p>
    </div>
  </div>
</template>
