<template name="LandingPage">
  <div class="row">
    <div class="col-sm-12 text-center pt-4 pb-3">
      <h2>Welcome to BrewerMe</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 text-center pb-10">
      <h4>Search for breweries around your location or search in a specific location.</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 offset-sm-4 text-center">
      <form class="justify-content-center">
          {{# if stateSelected }}
            <div class="form-group pr-5">
              {{> StateSelect }}
            </div>
          {{ else }}
            {{# if zipSelected }}
              <div class="form-group row pr-5" id="searchInputDiv">
                <input type="text" class="form-control form-control-danger" id="searchInput" placeholder="Dan's Brewery">
              </div>
            {{ else }}  
              <div class="form-group row pr-5" id="searchInputDiv">
                <input type="text" class="form-control form-control-danger" id="searchInput" placeholder="Dan's Brewery">
              </div>
              <div class="form-group pr-5">
                {{> StateSelect }}
              </div>
            {{/ if }}
          {{/ if }}
        
        <div class="form-group pr-5">
          <select class="form-control" id="searchPreference">
            <!-- <option selected value="">Choose...</option> -->
            <option value="locality">City and State</option>
            <option value="region">State</option>
            <option value="postalCode">Zip</option>
          </select>
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg text-center js-search-brewerydb disabled">Search for Breweries</button>
      </form>
    </div>
  </div>
  
  {{# if showResults }}
  <div class="row">
    {{# each brewery }}
    <div class="col-sm-6 p-4">
      <div class="card">
        <img class="card-img-top w-50 rounded mx-auto d-block" src={{ this.brewery.images.squareMedium }} alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{ this.brewery.name }}</h4>
          <a href={{ this.brewery.website }} class="btn btn-primary">Go to webpage</a>
          <a href="#" class="btn btn-info">More Info</a>
        </div>
      </div>
    </div>
    {{/ each }}
  </div>
  {{/ if }}
</template>
